@charset "UTF-8";

@media screen  and (min-width: 786px) {
    body {
        background-size: cover;
        
        
    }

    div#imagem > img {
        height: 42vh;


    }
    h1 {
        font-size: 3em;
    }

    p#nome{
        width: 600px;
    }

    input#nome {
        width: 500px;
    }

    input#senha {
        width: 500px;
    }

    p#senha {
        width: 600px;
    }
    input#enviar {
        width: 600px;
     }

    input#esqueceu {
        width: 600px;
     }

    
}